Repository allisson/django-pagseguro2: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    entry: isort
    language: system
    types: [python]
    args: ['--check-only']
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
    args: ['--ignore=E501,W503']
    exclude: ^docs/

Django 3.0.x não suporta python 3.5
  .github/workflows/django.yaml
Due: none

Adiciona o flake8 no requirements-dev.txt
  requirements-dev.txt
Due: none

Formatando código usando o black
  .pre-commit-config.yaml
  Makefile
  pagseguro/__init__.py
  pagseguro/admin.py
  pagseguro/api.py
  pagseguro/forms.py
  pagseguro/models.py
  pagseguro/settings.py
  pagseguro/signals.py
  pagseguro/urls.py
  pagseguro/views.py
  requirements-dev.txt
  testapp/manage.py
Due: isort, flake8

Configura o black para usar 110 linhas
  pagseguro/api.py
  pagseguro/forms.py
  pagseguro/models.py
  pagseguro/settings.py
  pyproject.toml
Due: isort, flake8

Adiciona o black no requirements-dev.txt
  requirements-dev.txt
Due: none

Remove suporte ao python 3.5
  .github/workflows/django.yaml
  setup.py
Due: isort, flake8

Adiciona o parâmetro --quiet na chamada do black
  Makefile
Due: none

Atualiza o comando do teste
  .github/workflows/django.yaml
Due: none

Adicionando suporte ao django 2.2.x e 3.0.x (#43)
  .github/workflows/django.yaml
  .gitignore
  .travis-requirements.txt
  Makefile
  docs/conf.py
  pagseguro/__init__.py
  pagseguro/admin.py
  pagseguro/api.py
  pagseguro/forms.py
  pagseguro/migrations/0001_initial.py
  pagseguro/migrations/0002_auto_20150506_0220.py
  pagseguro/migrations/0003_auto_20180127_1345.py
  pagseguro/models.py
  pagseguro/settings.py
  pagseguro/signals.py
  pagseguro/tests/__init__.py
  pagseguro/tests/test_api.py
  pagseguro/tests/test_models.py
  pagseguro/tests/test_signals.py
  pagseguro/tests/test_views.py
  pagseguro/urls.py
  pagseguro/views.py
  pyproject.toml
  requirements-dev.txt
  setup.cfg
  setup.py
  testapp/manage.py
  testapp/testapp/settings.py
  testapp/testapp/urls.py
  testapp/testapp/wsgi.py
Due: isort, flake8

Adiciona o wheel no requirements-dev.txt
  requirements-dev.txt
Due: none

Fix setup long_description
  setup.py
Due: isort, flake8

Atualizando docs
  docs/index.rst
  docs/tutorial.rst
Due: none

Atualizando docs (#44)
  docs/index.rst
  docs/tutorial.rst
Due: none

Corrigindo a configuração do sphinx
  docs/conf.py
Due: isort

Corrigindo a configuração do sphinx (#45)
  docs/conf.py
Due: isort

corrige erros de digitação na documentação
  docs/tutorial.rst
Due: none

corrige identações maiores que quatro espaços
  pagseguro/api.py
Due: isort, flake8

adiciona uuid ao requirements
  requirements-dev.txt
Due: none

atualiza arquivos
  .gitignore
  pagseguro/views.py
Due: isort, flake8

Removendo o argumento providing_args dos signals
  .github/workflows/django.yaml
  .pre-commit-config.yaml
  LICENSE
  MANIFEST.in
  Makefile
  docs/conf.py
  pagseguro/api.py
  pagseguro/forms.py
  pagseguro/migrations/0001_initial.py
  pagseguro/migrations/0002_auto_20150506_0220.py
  pagseguro/migrations/0003_auto_20180127_1345.py
  pagseguro/models.py
  pagseguro/signals.py
  pagseguro/tests/test_api.py
  pagseguro/tests/test_models.py
  pagseguro/tests/test_signals.py
  pagseguro/tests/test_views.py
  pyproject.toml
  requirements-dev.txt
  setup.cfg
  setup.py
  testapp/testapp/settings.py
  testapp/testapp/urls.py
  testapp/testapp/wsgi.py
Due: isort, flake8

Atualizando as versões do python no workflow de testes
  .github/workflows/django.yaml
Due: none

Atualizando a versão do ubuntu no workflow de testes
  .github/workflows/django.yaml
Due: none

Atualizando a versão do django
  .github/workflows/django.yaml
Due: none

Atualizando o urls.py para ser compatível com django 3.2+
  pagseguro/__init__.py
  pagseguro/urls.py
Due: isort, flake8

Atualizando a versão mínima do django
  .github/workflows/django.yaml
  setup.py
Due: isort, flake8

Versão 4.0.0 (#48)
  .github/workflows/django.yaml
  .pre-commit-config.yaml
  LICENSE
  MANIFEST.in
  Makefile
  docs/conf.py
  pagseguro/__init__.py
  pagseguro/api.py
  pagseguro/forms.py
  pagseguro/migrations/0001_initial.py
  pagseguro/migrations/0002_auto_20150506_0220.py
  pagseguro/migrations/0003_auto_20180127_1345.py
  pagseguro/models.py
  pagseguro/signals.py
  pagseguro/tests/test_api.py
  pagseguro/tests/test_models.py
  pagseguro/tests/test_signals.py
  pagseguro/tests/test_views.py
  pagseguro/urls.py
  pyproject.toml
  requirements-dev.txt
  setup.cfg
  setup.py
  testapp/testapp/settings.py
  testapp/testapp/urls.py
  testapp/testapp/wsgi.py
Due: isort, flake8
